{% extends 'home_base.html' %}
{% load static %}


{% block home_block_main %}
<section id="main">

	<!-- ======= Seccion sobre nosotros ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">
			<div class="row">
				<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
					<img src="{% static 'img/uem-1.jpg' %}" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
					<h2><strong>¿Quiénes somos?</strong></h2>
					<p>
						La Unidad Educativa Mocache es una institución educativa ubicada en el cantón Mocache, en la provincia de
						Los Ríos,
						Ecuador. Su historia se remonta a varios años atrás, cuando se inició como un colegio en el año 1953. En
						sus
						primeros años, el colegio tuvo que enfrentar diversos desafíos, entre ellos, la falta de recursos y la
						ausencia de una
						infraestructura adecuada.
					</p>
					<p>
						Es una institución pública encargada de la formación de niveles EGB hasta Bachillerato, los mismos que
						adquieren un
						conjunto de capacidades y responsabilidades a partir de tres valores fundamentales que
						forman parte del perfil del bachiller ecuatoriano: la justicia, la innovación y la solidaridad.
					</p>
					<p>
						Los estudiantes que terminan su formación serán capaces de continuar los estudios universitarios, además,
						participar
						en la vida política y social, conscientes de su rol histórico como ciudadanos del Ecuador.
					</p>

				</div>
			</div>

		</div>
	</section><!-- Fin seccion sobre nosotros -->

	<!-- ======= Seccion mision y vision ======= -->
	<section id="mision-vision" class="section-bg">
		<div class="container">
			<div class="row">

				<div class="col-6">
					<h2 class="text-center"><strong>Misión</strong></h2>
					<p>La Unidad Educativa “Mocache” es una institución dedicada a la formación de la niñez de sector, brindando
						una educación
						integral a los estudiantes que les permita desarrollar sus aptitudes críticas, creativas, reflexivas y
						participativas
						con sólidos principios en valores, alumnos capaces de pensar, razonar y argumentar de manera lógica,
						cuidando su salud
						y el medio ambiente que lo rodea.</p>
				</div>

				<div class="col-lg-6">
					<h2 class="text-center"><strong>Visión</strong></h2>
					<p>Ser una institución donde exista flexibilidad, convivencia armónica, docentes dedicados a su función
						educativa y con
						desarrollo de sus habilidades intelectuales dentro del proceso educativo; brindando una educación en
						valores, calidad
						y calidez, formando estudiantes creativos, reflexivos y participativos con la integración de la comunidad
						para una plena
						convivencia escolar. Formar alumnos con una plena conciencia ecológica, que cuiden, valoren y respeten el
						medio ambiente.</p>
				</div>

			</div>

		</div>
	</section><!-- Fin seccion mision y vision -->

	<!-- ======= Seccion historia ======= -->
	<section id="history" class="history">
		<div class="container">

			<h2><strong>Historia</strong></h2>

			<div class="row">
				<div class="col-12">
					<p>En el año de 1974 se crea el núcleo educativo para el desarrollo de la comunidad de Mocache, el mismo que estaba formado por la Junta Parroquial siendo Presidente el Señor Alberto Terán y como secretario el Sr. Luis Genovezzi, la Junta Propulsora del Progreso precedida por el Sr. Teodomiro Vargas, cuerpo de bombero y todos los maestros primarios de las escuelas, siendo director del núcleo el profesor Miguel Martínez Salinas y el supervisor le manifiesta que aquí en Mocache hace falta un colegio que sería en beneficio de la juventud.</p>
					<p>Los objetivos principales de la creación del colegio fueron por la necesidad en el aspecto económico, porque las familias no podían mandar a estudiar a sus hijos a otras ciudades. La creación del colegio se da mediante el acuerdo oficial con fecha 4 de julio de 1974 Nº 839, en este entonces presidente de la república el Gral. Guillermo Rodríguez Lara. Decretó el artículo 1, creandose 15 colegios de ciclo básico a partor del 1 de mayo de ese año en las siguientes localidades de la costa y zonas costaneras de la sierra.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-7">
					<h5>1975</h5>
					<p>En el literal 10 dice: colegio de ciclo básico en la parroquia Mocache, cantón Quevedo, provincia de Los Ríos, con un presupuesto fiscal de $530,000 sucres. Era una realidad que funcione el colegio con el nombre de Colegio Nacional Ciclo Básico "Mocache" con esta resolución pide ayuda a los profesores Arnulfo Chávez Miranda ahora fallecido, Miguel Martínez Salinas ahora fallecido, Abelardo Santillana, Sr. Eduardo Zavala y como secretario actuaba el profesor José Aguas, todos ellos eran profesores primarios y no cobraban sueldo como profesores del colegio. Es así como se da inicio al colegio con 118 alumnos.</p>
					<p>El primer uniforme fue blusa celeste y falda azul jean para las señoritas, y camisa celeste y pantalón azul jean para los varones. El 8 de agosto se da el decreto de funcionamiento legal del colegio, en el mismo mes de agosto llega el Ing. Gustavo Triviño Bloisse como Rector Titular, el Lcdo. Milton Bonilla Lara como Secretario, el profesor Arnulfo Escudero como Inspector General, y el profesor Jorge Manzano Salazar como profesor de Matemáticas, el colector fue el Sr. Lcdo. Félix Chang, el primer conserje fue el Sr. Antenor Lugo.</p>
				</div>
				<div class="col-5">
					<h5>1976</h5>
					<p>En abril de 1976 llega la Sra. Gladis Zavala de Montes, GLoria Cadena de Jiménez y Judith García. En el mes de Julio llega Luis Quilla Gano Montoya, en el mes de octubre así mismo llega la profesora Bella Troya de Torres, el 30 de diciembre de 1976 llega a trabajar al colegio la Sra. Lcda. Sara Bustamante.</p>
					<p>Las clases comenzaron el 1 de junio del mismo años en la Escuela Fiscal Mizta "Mocache" con sección vespertina de 1 a 6 de la tarde. La primera reina fue la Srta. Nancy Coello en el año de 1976 - 1977, elegida por votos de los alumnos.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<h5>1977</h5>
					<p>En este año llega la primera orientadora la Lcda. Argentina Delvilla.</p>
				</div>
				<div class="col-4">
					<h5>1978</h5>
					<p>Al 1 de enero del presente año, fue nombrada como Vicerrectora titular la Lcda. Sara Bustamante de Mazón.</p>
				</div>
				<div class="col-4">
					<h5>1979</h5>
					<p>Llegaron los siguientes profesores: Alberto Escobar, Luis Lemache, Herardo Santín, Julio Anchundia Luna, Bélgica Yépez Cotto, Onésimo Gonzáles, Pedro Caisachana, Virgilio Morán, José Ponce, Ángela Rivas, Franklin Montes.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<h5>1981</h5>
					<p>Al 1 de enero del presente año, fue nombrada como Vicerrectora titular la Lcda. Sara Bustamante de Mazón.</p>
				</div>
			</div>

		</div>
	</section><!-- Fin Seccion historia -->

	<!-- ======= Seccion autoridades ======= -->
	<section id="trainers" class="trainers section-bg">
		<div class="container">

			<h2><strong>Autoridades</strong></h2>

			<div class="row">
				<div class="col-lg-3 d-flex align-items-stretch">
					<div class="member">
						<img src="{% static 'img/messages-3.jpg' %}" class="img-fluid" alt="">
						<div class="member-content">
							<h4>Walter White</h4>
							<span>Fundador de la UEM</span>
							<p>
								Docente y rector de la institución desde 1935 hasta 1950.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 d-flex align-items-stretch">
					<div class="member">
						<img src="{% static 'img/messages-3.jpg' %}" class="img-fluid" alt="">
						<div class="member-content">
							<h4>Sarah Jhinson</h4>
							<span>Rectora de la UEM</span>
							<p>
								Desde 2020 hasta 2023
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 d-flex align-items-stretch">
					<div class="member">
						<img src="{% static 'img/messages-3.jpg' %}" class="img-fluid" alt="">
						<div class="member-content">
							<h4>William Anderson</h4>
							<span>Vicerrector de la UEM</span>
							<p>
								Desde 2020 hasta 2023
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 d-flex align-items-stretch">
					<div class="member">
						<img src="{% static 'img/messages-3.jpg' %}" class="img-fluid" alt="">
						<div class="member-content">
							<h4>William Anderson</h4>
							<span>Vicerrector de la UEM</span>
							<p>
								Desde 2020 hasta 2023
							</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- Fin Seccion autoridades -->

	<!-- ======= Seccion infraestructura ======= -->
	<section id="infraestructura" class="infraestructura">
		<div class="container">

			<h2><strong>Infraestructura</strong></h2>

			<div class="row">
				<div class="col-12">
					<p></p>
				</div>
			</div>

		</div>
	</section><!-- Fin Seccion infraestructura -->

</section>
{% endblock home_block_main %}